<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional statements</title>
</head>
<body>
    <!-- <h1 id="bodytext"></h1> -->
    <h1>this is home</h1>
    <p id="bodytext"></p>


    <script>
        const bodytext = document.getElementById('bodytext');
        let x = 85;
        

        if (x > 90){
            console.log('Grade: A');
            bodytext.textContent = 'Grade: A'
        }else{
            console.log('Grade: B');
          bodytext.textContent = 'Grade: b'

        }  
        
        for (let i = 0; i<15; i++){
            console.log(i);
            bodytext.textContent ='value is'+ i
        }
        
        
    //
    </script>
</body>
</html>